@model RubyGameStore.Models.ViewModels.CarrinhoVM
@using RubyGameStore.Helper.StaticNames
@{
    ViewData["Title"] = "Carrinho";
}

<div class="container row mx-auto">
    <div class="bg-dark d-flex justify-content-center" style="border: solid 1px black; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px">
        <h2 class="text-white text-center p-2"><i class="bi bi-cart"></i>&nbsp; Meu Carrinho</h2>
    </div>
    <div class="text-center text-sm-start">
        <br />
        <div class="row">
            <div class="">
                <a asp-controller="Home" asp-action="Index" class="btn btn-outline-dark" style="min-width:200px"><i class="bi bi-arrow-left"></i>&nbsp; Continuar Comprando</a>
            </div>

        </div>
        <br />
    </div>
    <div class="col-12 d-flex flex-column flex-lg-row">
        <div class="col-12 col-md-8 my-2 mx-auto">
            <hr style="height: 2px" />
            @foreach (var item in Model.ListaCarrinho)
            {
                <div class="d-flex flex-column flex-lg-row my-2 px-1" style="padding-right:2%">
                    <section class="my-auto col-12 col-lg-5">
                        <img src="@item.Produto.BoxArt" class="rounded-3 mt-1 px-auto" style="width:100%; height:100%; background-size:contain">
                    </section>
                    <div class="my-md-auto container text-center text-lg-start">
                        <p class="my-md-auto"><b>@item.Produto.Titulo</b><br />@item.Produto.Desenvolvedor<br />@item.Produto.Plataforma</p><hr class="d-md-none">
                        <p>R$ @(item.Produto.PrecoPromo != 0 ? item.Produto.PrecoPromo.ToString("N2") : @item.Produto.PrecoNormal.ToString("N2")) x @item.Quantidade Unidade(s)</p>
                        <div class="row mx-0 mb-2 justify-content-lg-start justify-content-center">
                            <a asp-action="Decrementar" asp-route-carrinhoId="@item.Id" class="btn btn-outline-dark col-3" style="max-width: 60px; margin-right: 4px"><i class="bi bi-dash-lg"></i></a>
                            <a onclick="remover('/User/Carrinho/Remover?carrinhoId=@item.Id')" class="btn btn-outline-dark col-3" style="max-width: 60px; margin-right: 4px"><i class="bi bi-trash"></i></a>
                            <a asp-action="Incrementar" asp-route-carrinhoId="@item.Id" class="btn btn-outline-dark col-3" style="max-width: 60px"><i class="bi bi-plus-lg"></i></a>
                        </div>
                    </div>
                    <div class="d-flex flex-row flex-lg-column justify-content-center my-auto">
                        <div class="d-flex flex-row mx-1 mb-2">
                            <div class="my-auto text-end mx-1">
                                @if (item.Produto.Plataforma == Plataforma.NSW)
                                {
                                    <img src="~/images/assets/plataformas/nintendo.svg" style="height: 60px; width: 60px">
                                }
                                @if (item.Produto.Plataforma == Plataforma.PC)
                                {
                                    <img src="~/images/assets/plataformas/PC.svg" style="height: 60px; width: 60px">
                                }
                                @if (item.Produto.Plataforma == Plataforma.PS4 || item.Produto.Plataforma == Plataforma.PS5)
                                {
                                    <img src="~/images/assets/plataformas/playstation.svg" style="height: 60px; width: 60px">
                                }
                                @if (item.Produto.Plataforma == Plataforma.XONE || item.Produto.Plataforma == Plataforma.XSXS)
                                {
                                    <img src="~/images/assets/plataformas/xbox.svg" style="height: 60px; width: 60px">
                                }
                            </div>
                            <div class="text-white my-auto">
                                @if (item.Produto.Classificacao == Classificacao.ESRB_E)
                                {
                                    <img src="~/images/assets/classificacao/E.svg" style="height: 60px; background-size:contain" />
                                }
                                @if (item.Produto.Classificacao == Classificacao.ESRB_E10)
                                {
                                    <img src="~/images/assets/classificacao/E10.svg" style="height: 60px; background-size:contain" />
                                }
                                @if (item.Produto.Classificacao == Classificacao.ESRB_T)
                                {
                                    <img src="~/images/assets/classificacao/T.svg" style="height: 60px; background-size:contain" />
                                }
                                @if (item.Produto.Classificacao == Classificacao.ESRB_M)
                                {
                                    <img src="~/images/assets/classificacao/M.svg" style="height: 60px; background-size:contain" />
                                }
                                @if (item.Produto.Classificacao == Classificacao.ESRB_A)
                                {
                                    <img src="~/images/assets/classificacao/A.svg" style="height: 60px; background-size:contain" />
                                }
                                @if (item.Produto.Classificacao == Classificacao.ESRB_RP)
                                {
                                    <img src="~/images/assets/classificacao/RP.svg" style="height: 60px; background-size:contain" />
                                }
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mx-1 my-auto" style="border: 1px black solid; border-radius: 10px; padding:6px">
                            <img src="~/images/assets/misc/metacritic.svg" class="" style="height:40px; width:40px" />
                            @if (item.Produto.Metascore > 74)
                            {
                                <div class="my-auto" style="color:white; background-color:#6c3; border-radius:6px; vertical-align:middle; text-align:center; width:40px; height: 40px; line-height:40px">
                                    <p style="font-family:Arial; font-weight:bold; font-size:27px">@item.Produto.Metascore</p>
                                </div>
                            }
                            else if (item.Produto.Metascore > 49)
                            {
                                <div class="my-auto" style="color:white; background-color:#fc3; border-radius:6px; vertical-align:middle; text-align:center; width:40px; height: 40px; line-height:40px">
                                    <p style="font-family:Arial; font-weight:bold; font-size:27px">@item.Produto.Metascore</p>
                                </div>
                            }
                            else if (item.Produto.Metascore > 0)
                            {
                                <div class="my-auto" style="color:white; background-color:#f00; border-radius:6px; vertical-align:middle; text-align:center; width:40px; height: 40px; line-height:40px">
                                    <p style="font-family:Arial; font-weight:bold; font-size:27px">@item.Produto.Metascore</p>
                                </div>
                            }
                            else
                            {
                                <div class="my-auto" style="color:white; background-color:#ccc; border-radius:6px; vertical-align:middle; text-align:center; width:40px; height: 40px; line-height:40px">
                                    <p style="font-family:Arial; font-weight:bold; font-size:27px">tbd</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <hr style="height: 2px" />
            }
        </div>
        <div class="col-12 offset-md-1 col-lg-3" style="border:1px solid black; border-radius:10px; margin-left:2%; height:fit-content">
            <div class="d-flex p-3 justify-content-between">
                <div style="line-height:1rem">
                    <p>
                        <b>Produtos:</b><br />
                    </p>
                    <p>
                        <b>Frete:</b><br />
                    </p>
                    <p>
                        <b>Desconto:</b>
                    </p>
                </div>
                <div class="text-end" style="line-height:1rem">
                    <div class="d-flex justify-content-end">
                        <p>R$&nbsp;</p>
                        <p id="totalProdutos">@Model.PedidoCabecalho.TotalPedido.ToString("N2")</p>
                    </div>
                    <p id="frete">
                        Selecione
                    </p>
                    <p>
                        - R$ 25.95
                    </p>
                </div>
            </div>
            <hr class=" mx-auto" />
            <div class="w-100 mx-auto p-3">
                <div class="">
                    <p class="">Seleciona a entrega:</p>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1">
                            Normal: R$ 7.99 
                        </label>
                        <br /><small>Estimativa: 7 a 12 dias úteis 
                            <br /> (Grátis acima de R$ 200)</small>
                    </div>
                    <hr class="w-75" />
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                            Expressa: R$ 17.99
                        </label>                        
                        <br /><small>Estimativa: 2 a 5 dias úteis</small>
                    </div>
                </div>
            </div>
            <hr class=" mx-auto" />
            <form method="post">
                <div class="form-floating w-75 mx-auto">
                    <input class="form-control" />
                    <label class="form-label">Cupom</label>
                    <div class="w-100 text-center">
                        <button type="submit" class="btn btn-outline-dark mt-2 mx-auto">Aplicar Cupom</button>
                    </div>
                </div>
            </form>
            <hr class="mx-auto" />
            <div class="p-3">
                <div class="d-flex justify-content-center">
                    <p class="text-center"><b>Total Final:</b> R$ </p>
                    <p id="total">@Model.PedidoCabecalho.TotalPedido.ToString("N2")</p>
                </div>

                <div class="text-center">
                    @if (Model.PedidoCabecalho.TotalPedido <= 0)
                    {
                        <div class="mx-auto">
                            <a href="#" class="btn btn-outline-dark disabled text-center" style="min-width:200px" disabled>Revisar Pedido &nbsp;<i class="bi bi-arrow-right"></i></a>
                        </div>
                    }
                    else
                    {
                        <div class="mx-auto">
                            <a asp-action="CriarPedido" class="btn btn-success" style="min-width:200px">Revisar Pedido &nbsp;<i class="bi bi-arrow-right"></i></a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script>
    $(document).ready(function(){
        $('#optionsRadios1').click(function(){
            var padrao = document.getElementById('optionsRadios1')
            if(padrao.checked){
                var elementoTotal = document.getElementById('totalProdutos');
                var totalProdutos = parseFloat(elementoTotal.textContent);
                if(totalProdutos < 200){
                    var frete = 7.99;
                    document.getElementById('frete').innerHTML = "R$ " + frete;
                    document.getElementById('total').innerHTML = (totalProdutos + frete).toFixed(2);
                }
                else{
                    document.getElementById('frete').innerHTML = "Frete Grátis";
                    document.getElementById('total').innerHTML = totalProdutos.toFixed(2);
                }
            }
        });
        $('#optionsRadios2').click(function(){
            var expressa = document.getElementById('optionsRadios2')
            if(expressa.checked){
                var elementoTotal = document.getElementById('totalProdutos');
                var totalProdutos = parseFloat(elementoTotal.textContent);
                    var frete = 17.99;
                    document.getElementById('frete').innerHTML = "R$ " + frete;
                    document.getElementById('total').innerHTML = (totalProdutos + frete).toFixed(2);
            };
        });
    })
</script>
<script type="text/javascript" src="~/js/carrinho.js"></script>
}