@model RubyGameStore.Models.ViewModels.CarrinhoVM
@using RubyGameStore.Helper.StaticNames
@{
    ViewData["Title"] = "Carrinho";

    var radioCheck1 = "";
    var radioCheck2 = "";

    if (Context.Session.GetString(Sessao.FreteAplicado) != null)
    {
        if (Context.Session.GetString(Sessao.FreteAplicado) == "Normal")
        {
            radioCheck1 = "checked=\"\"";
            radioCheck2 = "";
        }

        if (Context.Session.GetString(Sessao.FreteAplicado) == "Expressa")
        {
            radioCheck1 = "";
            radioCheck2 = "checked=\"\"";
        }
    }
} 

<div class="row mx-auto">
    <div class="col-12 d-flex flex-column flex-lg-row">
        <div class="col-12 col-md-8 my-2 mx-auto">
            <div class="d-flex row justify-content-between py-2 mt-3">
                <div class="col-12 col-md-6">
                    <h2 class="text-center text-lg-start" style="font-family:Play">Meu Carrinho</h2>
                </div>
                <div class="col-12 col-md-6 text-center text-lg-end">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-light" style="min-width:200px"><i class="bi bi-arrow-left"></i>&nbsp; Continuar Comprando</a>
                </div>
            </div>
            <hr style="height: 2px" />
            @if (Model.ListaCarrinho.Count() < 1)
            {
                <br />
                <h4>Seu carrinho está vazio!</h4>
            }
            @foreach (var item in Model.ListaCarrinho)
            {
                <div class="d-flex flex-column flex-lg-row my-2 py-2 px-2" style="padding-right:2%; background-color: rgba(34, 34, 34, 80%); border-radius:10px">
                    <section class="my-auto col-12 col-lg-5 px-1">
                        <img src="@item.Produto.BoxArt" class="rounded-3 mt-1 px-auto" style="width:100%; height:100%; background-size:contain">
                    </section>
                    <div class="my-md-auto container text-center text-lg-start py-0 px-1">
                        <p class="my-md-auto"><b>@item.Produto.Titulo</b><br />@item.Produto.Desenvolvedor<br />@item.Produto.Plataforma</p><hr class="d-md-none">
                        <p>R$ @(item.Produto.PrecoPromo != 0 ? item.Produto.PrecoPromo.ToString("N2") : @item.Produto.PrecoNormal.ToString("N2")) x @item.Quantidade Unidade(s)</p>
                        <div class="row mx-0 mb-2 justify-content-lg-start justify-content-center">
                            <a asp-action="Decrementar" asp-route-carrinhoId="@item.Id" class="btn btn-outline-light col-3" style="max-width: 60px; margin-right: 4px"><i class="bi bi-dash-lg"></i></a>
                            <a onclick="remover('/User/Carrinho/Remover?carrinhoId=@item.Id')" class="btn btn-outline-light col-3" style="max-width: 60px; margin-right: 4px"><i class="bi bi-trash"></i></a>
                            <a asp-action="Incrementar" asp-route-carrinhoId="@item.Id" class="btn btn-outline-light col-3" style="max-width: 60px"><i class="bi bi-plus-lg"></i></a>
                        </div>
                    </div>
                    <div class="d-flex flex-row flex-lg-column justify-content-center my-auto">
                        <div class="d-flex flex-row mx-1 mb-2">
                            <div class="my-auto text-end mx-1">
                                @if (item.Produto.Plataforma == Plataforma.NSW)
                                {
                                    <img src="~/images/assets/plataformas/nintendo.svg" style="height: 60px; width: 60px; filter: invert(1) brightness(10)">
                                }
                                @if (item.Produto.Plataforma == Plataforma.PC)
                                {
                                    <img src="~/images/assets/plataformas/PC.svg" style="height: 60px; width: 60px; filter: invert(1) brightness(10)">
                                }
                                @if (item.Produto.Plataforma == Plataforma.PS4 || item.Produto.Plataforma == Plataforma.PS5)
                                {
                                    <img src="~/images/assets/plataformas/playstation.svg" style="height: 60px; width: 60px; filter: invert(1) brightness(10)">
                                }
                                @if (item.Produto.Plataforma == Plataforma.XONE || item.Produto.Plataforma == Plataforma.XSXS)
                                {
                                    <img src="~/images/assets/plataformas/xbox.svg" style="height: 60px; width: 60px; filter: invert(1) brightness(10)">
                                }
                            </div>
                            <div class="text-white my-auto">
                                @if (item.Produto.Classificacao == Classificacao.ESRB_E)
                                {
                                    <img src="~/images/assets/classificacao/E.svg" style="height: 60px; background-size:contain" />
                                }
                                @if (item.Produto.Classificacao == Classificacao.ESRB_E10)
                                {
                                    <img src="~/images/assets/classificacao/E10.svg" style="height: 60px; background-size:contain" />
                                }
                                @if (item.Produto.Classificacao == Classificacao.ESRB_T)
                                {
                                    <img src="~/images/assets/classificacao/T.svg" style="height: 60px; background-size:contain" />
                                }
                                @if (item.Produto.Classificacao == Classificacao.ESRB_M)
                                {
                                    <img src="~/images/assets/classificacao/M.svg" style="height: 60px; background-size:contain" />
                                }
                                @if (item.Produto.Classificacao == Classificacao.ESRB_A)
                                {
                                    <img src="~/images/assets/classificacao/A.svg" style="height: 60px; background-size:contain" />
                                }
                                @if (item.Produto.Classificacao == Classificacao.ESRB_RP)
                                {
                                    <img src="~/images/assets/classificacao/RP.svg" style="height: 60px; background-size:contain" />
                                }
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mx-1 my-auto" style="border: 1px white solid; border-radius: 10px; padding:6px">
                            <img src="~/images/assets/misc/metacritic.svg" style="height:40px; width:40px" />
                            @if (item.Produto.Metascore > 74)
                            {
                                <div class="my-auto" style="color:white; background-color:#6c3; border-radius:6px; vertical-align:middle; text-align:center; width:40px; height: 40px; line-height:40px">
                                    <p style="font-family:Arial; font-weight:bold; font-size:27px">@item.Produto.Metascore</p>
                                </div>
                            }
                            else if (item.Produto.Metascore > 49)
                            {
                                <div class="my-auto" style="color:white; background-color:#fc3; border-radius:6px; vertical-align:middle; text-align:center; width:40px; height: 40px; line-height:40px">
                                    <p style="font-family:Arial; font-weight:bold; font-size:27px">@item.Produto.Metascore</p>
                                </div>
                            }
                            else if (item.Produto.Metascore > 0)
                            {
                                <div class="my-auto" style="color:white; background-color:#f00; border-radius:6px; vertical-align:middle; text-align:center; width:40px; height: 40px; line-height:40px">
                                    <p style="font-family:Arial; font-weight:bold; font-size:27px">@item.Produto.Metascore</p>
                                </div>
                            }
                            else
                            {
                                <div class="my-auto" style="color:white; background-color:#ccc; border-radius:6px; vertical-align:middle; text-align:center; width:40px; height: 40px; line-height:40px">
                                    <p style="font-family:Arial; font-weight:bold; font-size:27px">tbd</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <hr style="height: 2px" />
            }
        </div>
        <div class="col-12 col-md-8 mx-auto col-lg-4 mx-lg-2 col-xl-3 my-3" style="border:1px solid #555; border-radius:10px; margin-left:2%; height:fit-content; background-color: rgba(34, 34, 34, 80%)">
            <div class="w-100 mx-auto p-3">
                <div class="">
                    <p class="">Seleciona a entrega:</p>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" @radioCheck1 onclick="frete(1)">
                            Normal: R$ 7.99
                        </label>
                        <br /><small>
                            Estimativa: 7 a 12 dias úteis
                            <br /> (Grátis acima de R$ 200)
                        </small>
                    </div>
                    <hr class="w-75 mx-auto" />
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2" @radioCheck2 onclick="frete(2)">
                            Expressa: R$ 17.99
                        </label>
                        <br /><small>Estimativa: 2 a 5 dias úteis</small>
                    </div>
                </div>
            </div>

            <hr class="mx-auto" />
            @if (TempData["erroCupom"] != null)
            {
                <p class="text-center alert-danger">@TempData["erroCupom"]</p>
            }

            @if (Context.Session.GetString(Sessao.CupomAplicado) == null)
            {
                <form method="post">
                    <div class="form-floating w-75 mx-auto">
                        <input class="form-control mb-1" style="background-color: #333; background: #333; color:white" autocomplete="off" asp-for="@Model.CodCupom" />
                        <label class="form-label" asp-for="@Model.CodCupom"></label>
                        <div class="w-100 text-center">
                            <button asp-action="AplicarCupom" asp-route-CodCupom="@Model.CodCupom" type="submit" class="btn btn-outline-light mt-2 mx-auto">Aplicar Cupom</button>
                        </div>
                    </div>
                </form>
            }

            else
            {
                <div class="row">
                    <h5 class="text-center">Cupom Aplicado:</h5>
                    <h3 class="text-center">@Context.Session.GetString(Sessao.CupomAplicado)</h3>
                    <a class="text-center" asp-action="LimparCupom"><i class="bi-x-lg"></i>Remover</a>
                </div>
            }
            <hr class="mx-auto" />

            <div class="d-flex p-3 justify-content-between">
                <div style="line-height:1rem">
                    <p>
                        <b>Produtos:</b><br />
                    </p>
                    <p>
                        <b>Frete:</b><br />
                    </p>
                    <p>
                        <b>Desconto:</b>
                    </p>
                </div>
                <div class="text-end" style="line-height:1rem">
                    <div class="d-flex justify-content-end">
                        <p>R$&nbsp;</p>
                        <p id="totalProdutos">@Model.PedidoCabecalho.TotalPedido.ToString("N2")</p>
                    </div>
                    @if (Context.Session.GetString(Sessao.FreteAplicado) != null)
                    {
                        @if (Context.Session.GetString(Sessao.FreteAplicado) == "Normal")
                        {
                            @if (Model.PedidoCabecalho.TotalPedido >= 200)
                            {
                                <p>Frete Grátis</p>
                            }
                            else
                            {
                                <p>R$ 7.99</p>
                            }
                        }

                        @if (Context.Session.GetString(Sessao.FreteAplicado) == "Expressa")
                        {
                            <p>R$ 17.99</p>
                        }
                    }
                    else
                    {
                        <p id="campoFrete">Selecione</p>
                    }

                    <p>
                        @(Model.PedidoCabecalho.DescontoAplicado == null ? "Nenhum" : "- R$ " + Model.PedidoCabecalho.DescontoAplicado?.ToString("N2"))
                    </p>
                </div>
            </div>

            <hr class=" mx-auto" />

            <div class="p-3">
                <div class="d-flex justify-content-center">
                    <p class="text-center"><b>Total Final:</b> R$ </p>
                    <p id="total">@Model.TotalFinal.ToString("N2")</p>
                </div>

                <div class="text-center">
                    @if (Model.PedidoCabecalho.TotalPedido <= 0)
                    {
                        <div class="mx-auto">
                            <a href="#" class="btn btn-outline-dark disabled text-center" style="min-width:200px" disabled>Revisar Pedido &nbsp;<i class="bi bi-arrow-right"></i></a>
                        </div>
                    }

                    else
                    {
                        <div class="mx-auto">
                            <a onclick="verificaFrete('campoFrete')" class="btn btn-success" style="min-width:200px">Revisar Pedido &nbsp;<i class="bi bi-arrow-right"></i></a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script src="~/js/CarrinhoIndex.js"></script>
}