@model RubyGameStore.Models.ViewModels.CarrinhoVM
@{
    ViewData["Title"] = "Carrinho";
}

<div class="container row mx-auto">
    <div class="bg-dark" style="border: solid 1px black; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px">
        <h2 class="text-white text-center p-2">Meu Carrinho</h2>
    </div>
    <div class="text-center">
        <br />
        <div class="row justify-content-between">
            <div class="col-md-4">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary text-center" style="min-width:200px"><i class="bi bi-arrow-left"></i>&nbsp; Continuar Comprando</a>
            </div>
            <div class="col-md-4">
                <h5 class="my-2"><b>Valor Total: R$ @Model.PedidoCabecalho.TotalPedido.ToString("N2")</b></h5>
            </div>
            @if (Model.PedidoCabecalho.TotalPedido <= 0)
            {
                <div class="col-md-4">
                    <a href="#" class="btn btn-primary disabled text-center" style="min-width:200px" disabled>Revisar Pedido &nbsp;<i class="bi bi-arrow-right"></i></a>
                </div>
            }
            else
            {
                <div class="col-md-4">
                    <a asp-action="RevisarPedido" class="btn btn-primary text-center" style="min-width:200px">Revisar Pedido &nbsp;<i class="bi bi-arrow-right"></i></a>
                </div>
            }
        </div>
        <br />
    </div>
    <div class="col-12 col-md-6 my-2 w-75 mx-auto">
        @foreach (var item in Model.ListaCarrinho)
        {
            <div class="row my-2" style="border: solid 1px black; border-radius: 10px; background-color: #f2f2f2; box-shadow: 0px 0px 10px 2px #3e00007d">
                <div class="col-12 col-md-4" style="height: 200px">
                    <img src="@item.Produto.ImgCapaUrl" style="max-height: 180px; width:100%; object-fit:contain; margin-top: 10px" />
                </div>
                <div class="col-12 col-md-8 my-md-auto container text-center">
                    <p class="my-md-auto"><b>@item.Produto.Titulo</b><br />@item.Produto.Desenvolvedor<br />@item.Produto.Plataforma</p><hr class="d-md-none">
                    <p>R$ @item.PrecoAtual.ToString("N2") x @item.Quantidade Unidade(s)</p>
                    <div class="row mx-2 mb-2 justify-content-center">
                        <a asp-action="Decrementar" asp-route-carrinhoId="@item.Id" class="btn btn-info col-3 mx-1" style="max-width: 60px"><i class="bi bi-dash-square"></i></a>
                        <a asp-action="Remover" asp-route-carrinhoId="@item.Id" class="btn btn-danger col-3 mx-1" style="max-width: 60px"><i class="bi bi-x-square"></i></a>
                        <a asp-action="Incrementar" asp-route-carrinhoId="@item.Id" class="btn btn-info col-3 mx-1" style="max-width: 60px"><i class="bi bi-plus-square"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>