@using RubyGameStore.Helper.StaticNames
@using RubyGameStore.Models.ViewModels
@model PedidoVM
@{
    ViewData["Title"] = "Detalhes";
    string pagamento = "";
    int prazo = 5;
    if (User.IsInRole(Autorizacao.Empresa)) prazo = 30;
    if (Model.PedidoCabecalho.StatusPagamento == Pagamento.Aprovado)
    {
        pagamento = "Pagamento: " + Model.PedidoCabecalho.DataPagamento.ToShortDateString();
    }
    else
    {
        pagamento = "Vencimento: " + Model.PedidoCabecalho.DataHoraPedido.AddDays(prazo).ToShortDateString();
    }
}

<div class="col-12 col-md-6 col-lg-4 row mx-auto p-2 mt-3 transparent-box text-center">
    <h3 class="font-play">Controle do Pedido</h3>
    @if (Model.PedidoCabecalho.StatusPedido == Pedido.Aprovado)
    {
        <a onclick="Processar(@Model.PedidoCabecalho.Id)" class="btn btn-outline-info mx-auto my-2">PROCESSAR</a>
    }
    @if (Model.PedidoCabecalho.StatusPedido == Pedido.Processando)
    {
        <a asp-action="Enviar" asp-route-id="@Model.PedidoCabecalho.Id" class="btn btn-outline-light mx-auto my-2">ENVIAR</a>
    }
    @if (Model.PedidoCabecalho.StatusPedido == Pedido.Aprovado || Model.PedidoCabecalho.StatusPedido == Pedido.Processando)
    {
        <a onclick="Cancelar(@Model.PedidoCabecalho.Id)" class="btn btn-outline-danger mx-auto my-2">CANCELAR</a>
    }
    <div class="text-center">
        <p>
            Pedido Nª @Model.PedidoCabecalho.Id | Realizado em @Model.PedidoCabecalho.DataHoraPedido<br />
            Email: @Model.PedidoCabecalho.Usuario.Email
        </p>
    </div>
</div>


<div class="row">
    <div class="col-12 col-md-5 mx-auto mt-2 transparent-box font-play">
        <div class="col-12 my-auto mx-auto text-center p-4" style="height: fit-content">
            <h4 class="font-play">Status do Pedido</h4>
            <div>
                <p>
                    <b>@Model.PedidoCabecalho.StatusPedido</b> <br />
                    Data: @Model.PedidoCabecalho.DataHoraPedido.ToShortDateString() <br />
                    Hora: @Model.PedidoCabecalho.DataHoraPedido.ToShortTimeString() <br />                    
                </p>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-5 mx-auto mt-2 transparent-box font-play">
        <div class="col-12 my-auto mx-auto text-center p-4" style="height: fit-content">
            <h4 class="font-play">Status do Pagamento</h4>
            <div>
                <p>
                    <b>Total: R$ @Model.PedidoCabecalho.TotalPedido.ToString("N2")</b> <br />
                    Status: @Model.PedidoCabecalho.StatusPagamento <br />
                    @pagamento <br />
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-5 mx-auto mt-2 transparent-box font-play">
        <div class="col-12 my-auto mx-auto text-center p-4" style="height: fit-content">
            <h4 class="font-play">Endereço para Envio</h4>
            <div>
                <p>
                    Destinatário: @Model.PedidoCabecalho.NomeDestinatario <br />
                    Contato: @Model.PedidoCabecalho.TelefoneContato <br />
                    @Model.PedidoCabecalho.LogradouroEntrega <br /> @Model.PedidoCabecalho.CidadeEntrega - @Model.PedidoCabecalho.EstadoEntrega (CEP @Model.PedidoCabecalho.CEPEntrega)
                </p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-5 mx-auto mt-2 transparent-box font-play">
        <div class="col-12 my-auto mx-auto text-center p-4" style="height: fit-content">
            <h4 class="font-play">Dados do Envio</h4>
            @if (Model.PedidoCabecalho.Transportadora != null)
            {
                <p>
                    Transportadora: @Model.PedidoCabecalho.Transportadora <br />
                    Código do Rastreio: @Model.PedidoCabecalho.CodRastreio <br />
                    Enviado em: @Model.PedidoCabecalho.DataHoraEnvio <br />
                    Previsão de entrega: @Model.PedidoCabecalho.DataHoraEnvio.AddDays(9).ToShortDateString()
                </p>
            }
            else
            {
                <p>
                    Aguardando o envio...
                </p>
            }
        </div>
    </div>
</div>

<div class="container row mx-auto">
    <div class="col-12 col-md-9 my-2 mx-auto text-start p-4">
        <h4>Itens do Pedido:</h4>
        <hr />

        @foreach (var item in Model.PedidoDetalhes)
        {
            <div class="row mx-auto my-2 col-12 my-md-auto transparent-box">
                <div class="col-md-6" style="height: 120px">
                    <img src="@item.Produto.BoxArt" style="max-height: 100px; width:100%; object-fit:contain; margin-top: 10px" />
                </div>
                <div class="col-md-6 my-md-auto container">
                    <p class="my-md-auto text-center text-md-start"><b>@item.Produto.Titulo</b><br />@item.Produto.Desenvolvedor<br />@item.Produto.Plataforma</p>
                    <p class="text-center text-md-start">R$ @item.Preco.ToString("N2") x @item.Quantidade Unidade(s)</p>
                </div>
            </div>
        }

    </div>
</div>
<div class="text-end my-auto">
    <a asp-action="Index" class="btn btn-outline-light mb-3"><i class="bi bi-arrow-left-square"></i>&nbsp; Voltar</a>
</div>

@section Scripts{
<script src="~/js/ControlePedido.js"></script>
}