@model IEnumerable<PedidoCabecalho>
@{
    ViewData["Title"] = "Gerenciar Pedidos";

    var status = Context.Request.Query["status"];

    var todos = "";
    var aprovado = "";
    var processando = "";
    var concluido = "";
    var cancelado = "";

    switch (status)
    {
        case "aprovado":
            aprovado = "bg-dark";
            break;
        case "processando":
            processando = "bg-dark";
            break;
        case "concluido":
            concluido = "bg-dark";
            break;
        case "cancelado":
            cancelado = "bg-dark";
            break;
        default:
            todos = "bg-dark";
            break;
    }
}

<div class="mt-3" style="/*border: solid 1px black; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px*/">
    <h2 class="text-center p-2">Gerenciar Pedidos</h2>
</div>

<div class="p-2 d-md-flex justify-content-center">
    <ul class="list-group list-group-horizontal-sm">
        <li class="list-group-item @todos">
            <a asp-controller="Pedidos" asp-action="Index" asp-route-status="todos" class="text-danger" style="text-decoration: none; font-weight: bold">Todos</a>
        </li>
    </ul>
    <ul class="list-group list-group-horizontal-sm">
        <li class="list-group-item @aprovado">
            <a asp-controller="Pedidos" asp-action="Index" asp-route-status="aprovado" class="text-danger" style="text-decoration: none; font-weight: bold">Aprovados</a>
        </li>
    </ul>
    <ul class="list-group list-group-horizontal-sm">
        <li class="list-group-item @processando">
            <a asp-controller="Pedidos" asp-action="Index" asp-route-status="processando" class="text-danger" style="text-decoration: none; font-weight: bold">Processando</a>
        </li>
    </ul>
    <ul class="list-group list-group-horizontal-sm">
        <li class="list-group-item @concluido">
            <a asp-controller="Pedidos" asp-action="Index" asp-route-status="concluido" class="text-danger" style="text-decoration: none; font-weight: bold">Concluídos</a>
        </li>
    </ul>
    <ul class="list-group list-group-horizontal-sm">
        <li class="list-group-item @cancelado">
            <a asp-controller="Pedidos" asp-action="Index" asp-route-status="cancelado" class="text-danger" style="text-decoration: none; font-weight: bold">Cancelados</a>
        </li>
    </ul>
</div>

<div class="container mt-3 pb-3">
    <table class="table table-hover my-auto" style="vertical-align: middle" width="100%" id="indexPedidos">
        <thead>
            <tr class="my-auto">
                <th data-priority="1">Pedido</th>
                <th data-priority="1">Usuário</th>
                <th data-priority="1">Data</th>
                <th data-priority="5">Status</th>
                <th data-priority="6">Pagamento</th>
                <th data-priority="4">Total</th>
                <th data-priority="2"></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
<script src="~/js/pedidos.js"></script>
}