@using RubyGameStore.Helper.StaticNames
@model RubyGameStore.Models.ViewModels.BuscaVM
@{
    ViewData["Title"] = "Busca";
}

<form method="post">
    <div class="row container mx-auto p-0">
        <div class="col-12 col-lg-4 col-xl-3 my-4 p-3 d-md-flex d-lg-block" style="border: 1px solid black; border-radius: 10px; height:fit-content">
            <div class="col-12 col-md-6 col-lg-12">
                @if (Context.Session.GetString(Sessao.FiltroBusca) != null)
                {
                    <div class="row d-flex col-12 mx-auto mb-2">
                        <a class="btn btn-primary" asp-action="LimparTexto"><i class="bi-x-lg"></i>&nbsp; @Context.Session.GetString(Sessao.FiltroBusca)</a>
                    </div>
                }
                else
                {
                    <div class="row col-12 mx-auto mb-2">
                        <input asp-for="BuscaTexto" class="form-control" placeholder="Título, Desenvolvedor, etc..." />
                    </div>
                }
                <hr />
                <select asp-for="Ordenacao" asp-items="Model.ListaOrdenacao" class="form-select">
                    <option selected disabled>Ordenar Busca</option>
                </select>
                <hr />
                <div class="px-3">
                    <div>
                        <p>Filtrar por Plataforma</p>
                    </div>
                    <div class="form-check">
                        @if (Model.NSW == true)
                        {
                            <input asp-for="NSW" type="checkbox" class="form-check-input" checked="checked" />
                            <label asp-for="NSW" class="form-label">Nintendo Switch</label>
                        }
                        else
                        {
                            <input asp-for="NSW" type="checkbox" class="form-check-input" />
                            <label asp-for="NSW" class="form-label">Nintendo Switch</label>
                        }
                    </div>
                    <div class="form-check">
                        @if (Model.PC == true)
                        {
                            <input asp-for="PC" type="checkbox" class="form-check-input" checked="checked" />
                            <label asp-for="PC" class="form-label">PC</label>
                        }
                        else
                        {
                            <input asp-for="PC" type="checkbox" class="form-check-input" />
                            <label asp-for="PC" class="form-label">PC</label>
                        }
                    </div>
                    <div class="form-check">
                        @if (Model.PS4 == true)
                        {
                            <input asp-for="PS4" type="checkbox" class="form-check-input" checked="checked" />
                            <label asp-for="PS4" class="form-label">Playstation 4</label>
                        }
                        else
                        {
                            <input asp-for="PS4" type="checkbox" class="form-check-input" />
                            <label asp-for="PS4" class="form-label">Playstation 4</label>
                        }
                    </div>
                    <div class="form-check">
                        @if (Model.PS5 == true)
                        {
                            <input asp-for="PS5" type="checkbox" class="form-check-input" checked="checked" />
                            <label asp-for="PS5" class="form-label">Playstation 5</label>
                        }
                        else
                        {
                            <input asp-for="PS5" type="checkbox" class="form-check-input" />
                            <label asp-for="PS5" class="form-label">Playstation 5</label>
                        }
                    </div>
                    <div class="form-check">
                        @if (Model.XOne == true)
                        {
                            <input asp-for="XOne" type="checkbox" class="form-check-input" checked="checked" />
                            <label asp-for="XOne" class="form-label">Xbox One</label>
                        }
                        else
                        {
                            <input asp-for="XOne" type="checkbox" class="form-check-input" />
                            <label asp-for="XOne" class="form-label">Xbox One</label>
                        }
                    </div>
                    <div class="form-check">
                        @if (Model.XSeries == true)
                        {
                            <input asp-for="XSeries" type="checkbox" class="form-check-input" checked="checked" />
                            <label asp-for="XSeries" class="form-label">Xbox Series</label>
                        }
                        else
                        {
                            <input asp-for="XSeries" type="checkbox" class="form-check-input" />
                            <label asp-for="XSeries" class="form-label">Xbox Series</label>
                        }
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-12">
                <hr class="d-block d-md-none d-lg-block" />
                <div class="px-3">
                    <div>
                        <p>Filtrar por Gênero</p>
                    </div>
                    <div class="form-check">
                        @if (Model.Acao == true)
                        {
                            <input asp-for="Acao" type="checkbox" class="form-check-input" checked="checked" />
                            <label asp-for="Acao" class="form-label">Ação</label>
                        }
                        else
                        {
                            <input asp-for="Acao" type="checkbox" class="form-check-input" />
                            <label asp-for="Acao" class="form-label">Ação</label>
                        }
                    </div>
                    <div class="form-check">
                        @if (Model.Aventura == true)
                        {
                            <input asp-for="Aventura" type="checkbox" class="form-check-input" checked="checked" />
                            <label asp-for="Aventura" class="form-label">Aventura</label>
                        }
                        else
                        {
                            <input asp-for="Aventura" type="checkbox" class="form-check-input" />
                            <label asp-for="Aventura" class="form-label">Aventura</label>
                        }
                    </div>
                    <div class="form-check">
                        @if (Model.Casual == true)
                        {
                            <input asp-for="Casual" type="checkbox" class="form-check-input" checked="checked" />
                            <label asp-for="Casual" class="form-label">Casual</label>
                        }
                        else
                        {
                            <input asp-for="Casual" type="checkbox" class="form-check-input" />
                            <label asp-for="Casual" class="form-label">Casual</label>
                        }
                    </div>
                    <div class="form-check">
                        @if (Model.Esporte == true)
                        {
                            <input asp-for="Esporte" type="checkbox" class="form-check-input" checked="checked" />
                            <label asp-for="Esporte" class="form-label">Esporte</label>
                        }
                        else
                        {
                            <input asp-for="Esporte" type="checkbox" class="form-check-input" />
                            <label asp-for="Esporte" class="form-label">Esporte</label>
                        }
                    </div>
                    <div class="form-check">
                        @if (Model.Estrategia == true)
                        {
                            <input asp-for="Estrategia" type="checkbox" class="form-check-input" checked="checked" />
                            <label asp-for="Estrategia" class="form-label">Estratégia</label>
                        }
                        else
                        {
                            <input asp-for="Estrategia" type="checkbox" class="form-check-input" />
                            <label asp-for="Estrategia" class="form-label">Estratégia</label>
                        }
                    </div>
                    <div class="form-check">
                        @if (Model.Outros == true)
                        {
                            <input asp-for="Outros" type="checkbox" class="form-check-input" checked="checked" />
                            <label asp-for="Outros" class="form-label">Outros</label>
                        }
                        else
                        {
                            <input asp-for="Outros" type="checkbox" class="form-check-input" />
                            <label asp-for="Outros" class="form-label">Outros</label>
                        }
                    </div>
                    <div class="form-check">
                        @if (Model.RPG == true)
                        {
                            <input asp-for="RPG" type="checkbox" class="form-check-input" checked="checked" />
                            <label asp-for="RPG" class="form-label">RPG</label>
                        }
                        else
                        {
                            <input asp-for="RPG" type="checkbox" class="form-check-input" />
                            <label asp-for="RPG" class="form-label">RPG</label>
                        }
                    </div>

                    <hr />

                </div>
                <div class="row px-5">
                    <button type="submit" asp-action="AplicarFiltros" asp-route-idx="@ViewBag.IDX" class="btn btn-primary">Buscar</button>
                </div>
            </div>


        </div>
        <div class="col-12 col-lg-8 col-xl-9 mx-auto row" style="height:fit-content">
            <div class="mt-3">
                <div>
                    <h2 class="text-center p-2">Busca Avançada</h2>
                </div>
                <div class="text-end" style="margin-top: -15px">
                    @if (Context.Session.GetString(Sessao.Ordenacao) == null)
                    {
                        <label class="form-label"><i class="bi bi-arrow-down-up"></i> <b>Título (A-Z)</b></label>
                    }
                    else
                    {
                        <label class="form-label"><i class="bi bi-arrow-down-up"></i> <b>@Context.Session.GetString(Sessao.Ordenacao)</b></label>
                    }
                </div>
            </div>

            <hr style="height:2px" />

            @if (Model.ListaProdutos != null)
            {
                if (Model.ListaProdutos.Count() > 0)
                {
                    @foreach (var obj in Model.ListaProdutos)
                    {
                        <div class="col-12 mx-auto">
                            <div class="d-flex flex-column flex-md-row">
                                <div class="col-12 col-md-3 my-auto p-2">
                                    <img src="@obj.BoxArt" class="w-100 rounded-2" style="background-size:contain" />
                                </div>
                                <div class="col-12 col-md-9 my-auto p-2 d-flex flex-column flex-md-row">
                                    <div class="col-12 col-md-7 my-auto p-1 py-0 d-flex flex-column text-center">
                                        <h4 style="font-family:Play">@obj.Titulo</h4>
                                        <p style="line-height:normal;margin:0">@obj.Desenvolvedor, @obj.Distribuidor</p>
                                        <p style="line-height:normal;margin:0">Lançamento: @obj.DataLancamento.ToShortDateString()</p>
                                    </div>
                                    <div class="col-12 col-md-5 p-1 py-0 text-center">
                                        <p style="line-height:normal;margin:0">@obj.Plataforma</p>
                                        <h5 class="fw-bold" style="font-family:Play; color: #292">R$ @obj.PrecoNormal.ToString("N2")</h5>
                                        <a class="btn btn-primary" style="min-width:120px">Ver Mais</a>
                                    </div>
                                </div>
                            </div>
                            <hr class="mb-2" style="height:2px" />
                        </div>
                    }
                }
                else
                {
                    <h5 class="p-5">Nenhum resultado encontrado :(</h5>
                }
            }
            <div class="d-flex justify-content-center mb-3">
                @if (ViewBag.IDX == 1)
                {
                    <p class="btn btn-primary disabled" style="height:40px; width:60px"><i class="bi bi-arrow-left"></i></p>
                }
                else
                {
                    <a asp-action="Busca" asp-route-idx="@(ViewBag.IDX - 1)" class="btn btn-primary" style="height:40px; width:60px"><i class="bi bi-arrow-left"></i></a>
                }

                <p class="btn btn-outline-dark disabled mx-3" style="height:40px; width:60px">@(ViewBag.IDX)</p>

                @{
                    var verificaFim = (ViewBag.IDX * 10);
                    verificaFim--;
                }

                @if (verificaFim < ViewBag.ProdutosCount)
                {
                    <a asp-action="Busca" asp-route-idx="@(ViewBag.IDX + 1)" class="btn btn-primary" style="height:40px; width:60px"><i class="bi bi-arrow-right"></i></a>
                }
                else
                {
                    <p class="btn btn-primary disabled" style="height:40px; width:60px"><i class="bi bi-arrow-right"></i></p>
                }
            </div>
        </div>
    </div>
</form>