@model IEnumerable<Produto>
@using RubyGameStore.Helper.StaticNames;
@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
<link rel="stylesheet" href="css/HomeIndex.css" />
}

@if (Model.Count() < 24)
{
    <h3 class="font-play py-3 text-center">Adicione 24 jogos para que a Home Page possa ser devidamente carregada!</h3>
}
else
{
    <div class="row text-center py-2 align-middle card-titulo">
        <div class="container row pb-3 mx-auto" style="width:auto">
            <h2 class="text-white text-center font-play">Bem vindo a Ruby Game Store!</h2>
            <h5 class="text-white text-center font-play">Aqui você encontra os melhores jogos, lançamentos e muito mais!</h5>
            <p class="text-white text-center font-play">
                Não importa se você joga no PC, Playstation, Nintendo Switch ou Xbox, nós temos os melhores games
                para atender suas necessidades! Procure pelo nosso catálogo por plataforma ou gênero favorito e aproveite! São muitas ofertas e lançamentos no seu alcançe!
            </p>
            <div class="row mx-auto">
                <div class="col-6 text-end">
                    <a class="btn btn-primary" style="min-width:90px">Consoles</a>
                </div>
                <div class="col-6 text-start">
                    <a class="btn btn-primary" style="min-width:90px">Gêneros</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="pt-2 pb-3 col-12 col-lg-7 home-box">
            <h2 class="text-white text-center mb-2 fw-bold font-play">Recomendados</h2>
            <div class="col-12">
                <div id="recomendados" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#recomendados" data-bs-slide-to="0" class="d-none active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#recomendados" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#recomendados" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#recomendados" data-bs-slide-to="3" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#recomendados" data-bs-slide-to="4" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#recomendados" data-bs-slide-to="5" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#recomendados" data-bs-slide-to="6" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#recomendados" data-bs-slide-to="7" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#recomendados" data-bs-slide-to="8" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#recomendados" data-bs-slide-to="9" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#recomendados" data-bs-slide-to="10" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active position-relative" data-bs-interval="500">
                            <a asp-area="User" asp-controller="VerProduto" asp-action="Detalhes" asp-route-ProdutoId="@Model.First().Id">
                                <img src="@Model.First().BoxArt" class="d-block w-100 carousel-imagem">
                                <div class="carousel-caption position-absolute start-0 row w-100">
                                    <div class="col-6 px-5 text-start">
                                        @if (Model.First().Plataforma == Plataforma.NSW)
                                        {
                                            <img src="~/images/assets/plataformas/nintendo.svg" class="icones-plat-carousel">
                                        }
                                        @if (Model.First().Plataforma == Plataforma.PC)
                                        {
                                            <img src="~/images/assets/plataformas/PC.svg" class="p-1 icones-plat-carousel">
                                        }
                                        @if (Model.First().Plataforma == Plataforma.PS4 || Model.First().Plataforma == Plataforma.PS5)
                                        {
                                            <img src="~/images/assets/plataformas/playstation.svg" class="icones-plat-carousel">
                                        }
                                        @if (Model.First().Plataforma == Plataforma.XONE || Model.First().Plataforma == Plataforma.XSXS)
                                        {
                                            <img src="~/images/assets/plataformas/xbox.svg" class="p-1 icones-plat-carousel">
                                        }
                                    </div>
                                    <h4 class="col-6 px-3 fw-bolder text-end mt-auto carousel-preco">R$ @Model.First().PrecoNormal.ToString("N2")</h4>
                                </div>
                            </a>
                        </div>
                        @foreach (var obj in Model.ToList().GetRange(0, 10))
                        {
                            <div class="carousel-item position-relative" data-bs-interval="8000">
                                <a asp-area="User" asp-controller="VerProduto" asp-action="Detalhes" asp-route-ProdutoId="@obj.Id">
                                    <img src="@obj.BoxArt" class="w-100 carousel-imagem">
                                    <div class="carousel-caption position-absolute start-0 row w-100">
                                        <div class="col-6 px-5 text-start">
                                            @if (obj.Plataforma == Plataforma.NSW)
                                            {
                                                <img src="~/images/assets/plataformas/nintendo.svg" class="icones-plat-carousel">
                                            }
                                            @if (obj.Plataforma == Plataforma.PC)
                                            {
                                                <img src="~/images/assets/plataformas/PC.svg" class="p-1 icones-plat-carousel">
                                            }
                                            @if (obj.Plataforma == Plataforma.PS4 || obj.Plataforma == Plataforma.PS5)
                                            {
                                                <img src="~/images/assets/plataformas/playstation.svg" class="icones-plat-carousel">
                                            }
                                            @if (obj.Plataforma == Plataforma.XONE || obj.Plataforma == Plataforma.XSXS)
                                            {
                                                <img src="~/images/assets/plataformas/xbox.svg" class="p-1 icones-plat-carousel">
                                            }
                                        </div>
                                        <h4 class="col-6 px-3 fw-bolder text-end mt-auto carousel-preco">R$ @obj.PrecoNormal.ToString("N2")</h4>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-5 py-1 py-xl-3 px-3 d-flex flex-column justify-content-center home-box">
            <a style="font-family:Play; font-size:2rem; text-align:center">Alexandre Giaccheri</a>
            <a style="font-family:Play; font-size:1.5rem; text-align:center">Desenvolvedor FullStack</a>
            <hr class="mx-auto w-75" />
            <a href="https://github.com/alexandregiaccheri" target="_blank" class="links-curriculo"><i class="bi bi-github"></i> &nbsp; GitHub: @Html.Raw("@")alexandregiaccheri</a>
            <a href="https://www.linkedin.com/in/alexandre-giaccheri/" target="_blank" class="links-curriculo"><i class="bi bi-linkedin"></i> &nbsp; LinkedIn: in/alexandregiaccheri</a>
            <a href="mailto:contato@xande.dev" class="links-curriculo"><i class="bi bi-envelope"></i> &nbsp; Email: contato@xande.dev</a>
            <a href="tel:+5514996805658" class="links-curriculo"><i class="bi bi-telephone"></i> &nbsp; Telefone: (14) 99680-5658</a>
            <a href="https://drive.google.com/file/d/1_ZbUVk-46LCei0rAocqvKnolcUZ6qv-G/view?usp=sharing" target="_blank" class="links-curriculo"><i class="bi bi-download"></i> &nbsp; Baixar Currículo (PDF)</a>
            <hr class="w-75 mx-auto" />
            <div class="d-flex mx-auto">
                <div>
                    <img class="p-2 icones-tech" title=".NET Core" src="~/images/assets/home/NET_Core_Logo.svg" />
                </div>
                <div>
                    <img class="p-2 icones-tech" title="CSS3 e HTML5" src="~/images/assets/home/CSS3_and_HTML5_logos_and_wordmarks.svg" />
                </div>
                <div>
                    <img class="p-2 icones-tech" title="Bootstrap 5" src="~/images/assets/home/Bootstrap_logo.svg" />
                </div>
                <div>
                    <img class="p-2 icones-tech" title="JavaScript" src="~/images/assets/home/Unofficial_JavaScript_logo_2.svg" />
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center py-2 barra-titulo">
        <h1 class="fw-bold text-white col-12 font-play">Procure por Plataforma</h1>
    </div>

    <div class="row text-center">
        <div onclick="location.href='#';" id="nswitch" class="col-12 col-md-6 col-lg-4 d-flex justify-content-between">
            <img src="~/images/assets/plataformas/nintendo.svg" class="col-3 p-1 icones-escolha-plat" />
            <h3 class="text-white my-auto font-play">Nintendo Switch</h3>
            <h3 class="mx-3"></h3>
        </div>
        <div onclick="location.href='#';" id="computer" class="col-12 col-md-6 col-lg-4 d-flex justify-content-between">
            <img src="~/images/assets/plataformas/PC.svg" class="col-3 p-2 icones-escolha-plat" />
            <h3 class="text-white my-auto font-play">Computador</h3>
            <h3 class="mx-3"></h3>
        </div>
        <div onclick="location.href='#';" id="ps4" class="col-12 col-md-6 col-lg-4 d-flex justify-content-between">
            <img src="~/images/assets/plataformas/playstation.svg" class="col-3 p-2 icones-escolha-plat" />
            <h3 class="text-white my-auto font-play">Playstation 4</h3>
            <h3 class="mx-3"></h3>
        </div>
        <div onclick="location.href='#';" id="ps5" class="col-12 col-md-6 col-lg-4 d-flex justify-content-between">
            <img src="~/images/assets/plataformas/playstation.svg" class="col-3 p-2 icones-escolha-plat" />
            <h3 class="text-white my-auto font-play">Playstation 5</h3>
            <h3 class="mx-3"></h3>
        </div>
        <div onclick="location.href='#';" id="xone" class="col-12 col-md-6 col-lg-4 d-flex justify-content-between">
            <img src="~/images/assets/plataformas/xbox.svg" class="col-3 p-3 icones-escolha-plat" />
            <h3 class="text-white my-auto font-play">Xbox One</h3>
            <h3 class="mx-3"></h3>
        </div>
        <div onclick="location.href='#';" id="xseries" class="col-12 col-md-6 col-lg-4 d-flex justify-content-between">
            <img src="~/images/assets/plataformas/xbox.svg" class="col-3 p-3 icones-escolha-plat" />
            <h3 class="text-white my-auto font-play">Xbox Series</h3>
            <h3 class="mx-3"></h3>
        </div>
    </div>

    <div class="row">
        <div class="pt-2 pb-3 col-12 home-box">
            <h2 class="text-white text-center mb-2 fw-bold font-play">Lançamentos</h2>
            <div class="col-12">
                <div id="lancamentos" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#lancamentos" data-bs-slide-to="0" class="d-none active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#lancamentos" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#lancamentos" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#lancamentos" data-bs-slide-to="3" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#lancamentos" data-bs-slide-to="4" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#lancamentos" data-bs-slide-to="5" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-item d-flex flex-row active" data-bs-interval="500">
                            <div class="col-6 d-none d-md-flex flex-row">
                                <div class="d-flex flex-column col-6">
                                    <img src="@Model.OrderByDescending(p => p.DataLancamento).First().Screenshot1" class="col-6 carousel-imglancamentos">
                                    <img src="@Model.OrderByDescending(p => p.DataLancamento).First().Screenshot2" class="col-6 carousel-imglancamentos">
                                </div>
                                <div class="d-flex flex-column col-6">
                                    <img src="@Model.OrderByDescending(p => p.DataLancamento).First().Screenshot3" class="col-6 carousel-imglancamentos">
                                    <img src="@Model.OrderByDescending(p => p.DataLancamento).First().Screenshot4" class="col-6 carousel-imglancamentos">
                                </div>
                            </div>

                            <div class="col-12 col-md-6 position-relative">
                                <a asp-area="User" asp-controller="VerProduto" asp-action="Detalhes" asp-route-ProdutoId="@Model.OrderByDescending(p => p.DataLancamento).First().Id">
                                    <img src="@Model.OrderByDescending(p => p.DataLancamento).First().BoxArt" class="w-100 carousel-imglancamentos">
                                    <div class="carousel-caption text-end position-absolute bottom-0 end-0">
                                        <h4 class="px-3 carousel-precolancamentos">R$ @Model.OrderByDescending(p => p.DataLancamento).First().PrecoNormal.ToString("N2")</h4>
                                    </div>
                                    <div class="carousel-caption text-end position-absolute top-0 end-0 px-4">
                                        @if (Model.First().Plataforma == Plataforma.NSW)
                                        {
                                            <img src="~/images/assets/plataformas/nintendo.svg" class="icones-plat-carousel">
                                        }
                                        @if (Model.First().Plataforma == Plataforma.PC)
                                        {
                                            <img src="~/images/assets/plataformas/PC.svg" class="p-1 icones-plat-carousel">
                                        }
                                        @if (Model.First().Plataforma == Plataforma.PS4 || Model.First().Plataforma == Plataforma.PS5)
                                        {
                                            <img src="~/images/assets/plataformas/playstation.svg" class="icones-plat-carousel">
                                        }
                                        @if (Model.First().Plataforma == Plataforma.XONE || Model.First().Plataforma == Plataforma.XSXS)
                                        {
                                            <img src="~/images/assets/plataformas/xbox.svg" class="p-1 icones-plat-carousel">
                                        }
                                    </div>
                                </a>
                            </div>
                        </div>
                        @foreach (var obj in Model.OrderByDescending(o => o.DataLancamento).ToList().GetRange(0, 5))
                        {
                            <div class="carousel-item d-flex flex-row" data-bs-interval="15000">
                                <div class="col-6 d-none d-md-flex flex-row">
                                    <div class="d-flex flex-column col-6">
                                        <img src="@obj.Screenshot1" class="col-6 carousel-imglancamentos">
                                        <img src="@obj.Screenshot2" class="col-6 carousel-imglancamentos">
                                    </div>
                                    <div class="d-flex flex-column col-6">
                                        <img src="@obj.Screenshot3" class="col-6 carousel-imglancamentos">
                                        <img src="@obj.Screenshot4" class="col-6 carousel-imglancamentos">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6  position-relative">
                                    <a asp-area="User" asp-controller="VerProduto" asp-action="Detalhes" asp-route-ProdutoId="@obj.Id">
                                        <img src="@obj.BoxArt" class="w-100 carousel-imglancamentos">

                                        <div class="carousel-caption text-end position-absolute bottom-0 end-0">
                                            <h4 class="px-3 carousel-precolancamentos">R$ @obj.PrecoNormal.ToString("N2")</h4>
                                        </div>
                                        <div class="carousel-caption text-end position-absolute top-0 end-0 px-4">
                                            @if (obj.Plataforma == Plataforma.NSW)
                                            {
                                                <img src="~/images/assets/plataformas/nintendo.svg" class="icones-plat-carousel">
                                            }
                                            @if (obj.Plataforma == Plataforma.PC)
                                            {
                                                <img src="~/images/assets/plataformas/PC.svg" class="p-1 icones-plat-carousel">
                                            }
                                            @if (obj.Plataforma == Plataforma.PS4 || obj.Plataforma == Plataforma.PS5)
                                            {
                                                <img src="~/images/assets/plataformas/playstation.svg" class="icones-plat-carousel">
                                            }
                                            @if (obj.Plataforma == Plataforma.XONE || obj.Plataforma == Plataforma.XSXS)
                                            {
                                                <img src="~/images/assets/plataformas/xbox.svg" class="p-1 icones-plat-carousel">
                                            }
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center py-2 barra-titulo">
        <h1 class="fw-bold text-white col-12 font-play">Jogos em Destaque</h1>
    </div>

    <div class="row px-1" style="margin-bottom: 80px">
        @foreach (var obj in Model.OrderByDescending(p => p.Metascore).ToList().GetRange(0, 24))
        {
            <div class="col-12 col-md-6 col-lg-4 col-xxl-3 p-2 d-flex flex-column home-card position-relative"@* style="aspect-ratio:10/14"*@>
                <a asp-area="User" asp-controller="VerProduto" asp-action="Detalhes" asp-route-ProdutoId="@obj.Id" class="mb-2" style="width:100%; aspect-ratio:16/9">
                    <div class="mb-2 rounded-2" style="background: url('@obj.BoxArt.Replace("\\", "/")');
                                            height: 100%; width: 100%; background-size: cover;
                                            background-position: center;"></div>
                </a>
                <div class="px-1" style="margin-bottom:10%">
                    <div style="height:14rem">
                        <div class="d-flex justify-content-between" style="width:inherit">
                            <div class="my-auto">
                                <h4 class="text-white font-play"><strong>@obj.Titulo</strong></h4>
                            </div>
                            <div class="col-3 text-end">
                                @if (obj.Plataforma == Plataforma.NSW)
                                {
                                    <img src="~/images/assets/plataformas/nintendo.svg" class="icones-card">
                                }
                                @if (obj.Plataforma == Plataforma.PC)
                                {
                                    <img src="~/images/assets/plataformas/PC.svg" class="p-1 icones-card">
                                }
                                @if (obj.Plataforma == Plataforma.PS4 || obj.Plataforma == Plataforma.PS5)
                                {
                                    <img src="~/images/assets/plataformas/playstation.svg" class="icones-card">
                                }
                                @if (obj.Plataforma == Plataforma.XONE || obj.Plataforma == Plataforma.XSXS)
                                {
                                    <img src="~/images/assets/plataformas/xbox.svg" class="p-1 icones-card">
                                }
                            </div>
                        </div>
                        <p class="text-white font-play">
                            Desenvolvedor: @obj.Desenvolvedor <br>
                            Distribuidor: @obj.Distribuidor <br>
                            Plataforma: @obj.Plataforma (@obj.DataLancamento.ToString("yyyy"))
                        </p>
                    </div>
                </div>
                <div class="position-absolute" style="width: 90%; bottom: 10px; left: 10%">
                    @if (obj.PrecoPromo != 0)
                    {
                        <h5 class="text-end preco-home-card" style="width:90%">
                            <small><s>R$ @obj.PrecoNormal.ToString("N2")</s></small> <b>R$ @obj.PrecoPromo.ToString("N2")</b>
                        </h5>
                    }
                    else
                    {
                        <h5 class="text-end preco-home-card" style="width:90%">
                            <b>R$ @obj.PrecoNormal.ToString("N2")</b>
                        </h5>
                    }
                    <a class="btn btn-primary mx-auto" style="width:90%" asp-controller="VerProduto" asp-action="Detalhes" asp-route-ProdutoId="@obj.Id">Ver Detalhes</a>

                </div>
            </div>
        }
    </div>
}
