@model IEnumerable<Produto>
@using RubyGameStore.Helper.StaticNames;
@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: #fff;
    }
</style>

<div class="row mt-3" style="margin-bottom: 80px">
    @foreach (var obj in Model)
    {
        <div class="col-12 col-md-6 col-lg-4 position-relative home-card">
            <section class="my-2">
                <img src="@obj.BoxArt" class="rounded-2 mt-1" style="width:100%; height:100%; background-size:contain">
            </section>
            <div class="row px-1">
                <section class="col-9" style="height:auto">
                    <h3 class="text-white"><strong>@obj.Titulo</strong></h3>
                    <p class="text-white">
                        Desenvolvedor: @obj.Desenvolvedor <br>
                        Distribuidor: @obj.Distribuidor <br>
                        Plataforma: @obj.Plataforma (@obj.DataLancamento.ToString("yyyy"))
                    </p>
                </section>
                <section class="col-3 text-end" style="padding-right: 2%">
                    @if (obj.Plataforma == Plataforma.NSW)
                    {
                        <img src="~/images/assets/plataformas/nintendo.svg" style="height: 70px; width: 70px; -webkit-filter: invert(100%)">
                    }
                    @if (obj.Plataforma == Plataforma.PC)
                    {
                        <img src="~/images/assets/plataformas/PC.svg" style="height: 65px; width: 65px; -webkit-filter: invert(100%)">
                    }
                    @if (obj.Plataforma == Plataforma.PS4 || obj.Plataforma == Plataforma.PS5)
                    {
                        <img src="~/images/assets/plataformas/playstation.svg" style="height: 65px; width: 65px; -webkit-filter: invert(100%)">
                    }
                    @if (obj.Plataforma == Plataforma.XONE || obj.Plataforma == Plataforma.XSXS)
                    {
                        <img src="~/images/assets/plataformas/xbox.svg" style="height: 70px; width: 70px; -webkit-filter: invert(100%)">
                    }
                </section>
            </div>
            <div class="row mb-3 position-absolute bottom-0 w-100">
                @if (obj.PrecoPromo != 0)
                {
                    <h5 class="text-end" style="color: lightgreen; font-family:Arial; margin-top: 10px; margin-right: 8px">
                        <small><s>R$ @obj.PrecoNormal.ToString("N2")</s></small> <b>R$ @obj.PrecoPromo.ToString("N2")</b>
                    </h5>
                }
                else
                {
                    <h5 class="text-end" style="color: lightgreen; font-family:Arial; margin-top: 10px; margin-right: 8px">
                        <b>R$ @obj.PrecoNormal.ToString("N2")</b>
                    </h5>
                }
                <a class="btn btn-primary col-11 mx-auto" asp-controller="VerProduto" asp-action="Detalhes" asp-route-ProdutoId="@obj.Id">Ver Detalhes</a>
            </div>
        </div>
    }
</div>
