@model IEnumerable<Produto>
@using RubyGameStore.Helper.StaticNames;
@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: #fff;
    }

    #nswitch {
        cursor: pointer;
        background-color: #333;
        border: solid 2px #fff;
        border-radius: 7px;
        transition: all linear 0.2s;
    }

        #nswitch:hover {
            background-color: #555;
            background-image: url('/images/assets/home/nsw.jpg');
            background-position: center;
            background-size: cover;
            background-blend-mode: overlay;
            transition: 0.15s;
        }

    #computer {
        cursor: pointer;
        background-color: #333;
        border: solid 2px #fff;
        border-radius: 7px;
        transition: all linear 0.2s;
    }

        #computer:hover {
            background-color: #555;
            background-image: url('/images/assets/home/gamingpc.jpg');
            background-position: center;
            background-size: cover;
            background-blend-mode: overlay;
            transition: 0.15s;
        }

    #ps4 {
        cursor: pointer;
        background-color: #333;
        border: solid 2px #fff;
        border-radius: 7px;
        transition: all linear 0.2s;
    }

        #ps4:hover {
            background-color: #555;
            background-image: url('/images/assets/home/ps4.jpg');
            background-position: center;
            background-size: cover;
            background-blend-mode: overlay;
            transition: 0.15s;
        }
        
    #ps5 {
        cursor: pointer;
        background-color: #333;
        border: solid 2px #fff;
        border-radius: 7px;
        transition: all linear 0.2s;
    }

        #ps5:hover {
            background-color: #555;
            background-image: url('/images/assets/home/ps5.jpg');
            background-position: center;
            background-size: cover;
            background-blend-mode: overlay;
            transition: 0.15s;
        }
        
    #xone {
        cursor: pointer;
        background-color: #333;
        border: solid 2px #fff;
        border-radius: 7px;
        transition: all linear 0.2s;
    }

        #xone:hover {
            background-color: #555;
            background-image: url('/images/assets/home/xone.jpg');
            background-position: center;
            background-size: cover;
            background-blend-mode: overlay;
            transition: 0.15s;
        }
        
    #xseries {
        cursor: pointer;
        background-color: #333;
        border: solid 2px #fff;
        border-radius: 7px;
        transition: all linear 0.2s;
    }

        #xseries:hover {
            background-color: #555;
            background-image: url('/images/assets/home/xseries.jpg');
            background-position: center;
            background-size: cover;
            background-blend-mode: overlay;
            transition: 0.15s;
        }
</style>

<div class="row text-center py-2" style="background-color:#444; border: solid 2px #fff; border-radius: 7px; background-image:url('/images/assets/home/controllers.jpg');
                                         background-position:center; background-size:cover; background-blend-mode:overlay">
    <div class="container row pb-3 mx-auto" style="width:auto">
        <h2 class="text-white text-center" style="font-family:Play">Bem vindo a Ruby Game Store!</h2>
        <h5 class="text-white text-center" style="font-family:Play">Aqui você encontra os melhores jogos, lançamentos e muito mais!</h5>
        <p class="text-white text-center" style="font-family:Play">
            Não importa se você joga no PC, Playstation, Nintendo Switch ou Xbox, nós temos os melhores games
            para atender suas necessidades! Procure pelo nosso catálogo por plataforma ou gênero favorito e aproveite! São muitas ofertas e lançamentos no seu alcançe!
        </p>
        <div class="row mx-auto">
            <div class="col-6 text-end">
                <a class="btn btn-primary" style="min-width:90px">Consoles</a>
            </div>
            <div class="col-6 text-start">
                <a class="btn btn-primary" style="min-width:90px">Gêneros</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="pt-2 pb-3 col-6" style="background-color:#333; border: solid 2px #fff; border-radius: 7px;">
        <h2 class="text-white text-center mb-1 fw-bold" style="font-family:Play">Novidades</h2>
        <div class="col-12">
            <div id="destaques" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#destaques" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#destaques" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#destaques" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/assets/emdestaque/eldenRing.jpg" class="d-block w-100" style="filter:brightness(85%)">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="fw-bolder" style="color:#ffffff; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-family:Helvetica">ELDEN RING</h3>
                            <h5 class="fw-bolder" style="color:#ffffff; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-family:Helvetica">Some representative placeholder content for the first slide.</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/assets/emdestaque/ffstranger.jfif" class="d-block w-100" style="filter:brightness(85%)">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="fw-bolder" style="color:#ffffff; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-family:Helvetica">FINAL FANTASY STRANGER OF PARADISE</h3>
                            <h5 class="fw-bolder" style="color:#ffffff; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-family:Helvetica">Some representative placeholder content for the second slide.</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/assets/emdestaque/horizonfw.webp" class="d-block w-100" style="filter:brightness(85%)">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="fw-bolder" style="color:#ffffff; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-family:Helvetica">HORIZON FORBIDEN WEST</h3>
                            <h5 class="fw-bolder" style="color:#ffffff; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-family:Helvetica">Some representative placeholder content for the third slide.</h5>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#destaques" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#destaques" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <div class="pt-2 pb-3 col-6" style="background-color:#333; border: solid 2px #fff; border-radius: 7px;">
        <h2 class="text-white mb-1 text-center fw-bold" style="font-family:Play">Mais Vendidos</h2>
        <div class="col-12">
            <div id="destaques" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#destaques" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#destaques" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#destaques" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/assets/emdestaque/eldenRing.jpg" class="d-block w-100" style="filter:brightness(85%)">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="fw-bolder" style="color:#ffffff; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-family:Helvetica">ELDEN RING</h3>
                            <h5 class="fw-bolder" style="color:#ffffff; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-family:Helvetica">Some representative placeholder content for the first slide.</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/assets/emdestaque/ffstranger.jfif" class="d-block w-100" style="filter:brightness(85%)">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="fw-bolder" style="color:#ffffff; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-family:Helvetica">FINAL FANTASY STRANGER OF PARADISE</h3>
                            <h5 class="fw-bolder" style="color:#ffffff; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-family:Helvetica">Some representative placeholder content for the second slide.</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/assets/emdestaque/horizonfw.webp" class="d-block w-100" style="filter:brightness(85%)">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="fw-bolder" style="color:#ffffff; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-family:Helvetica">HORIZON FORBIDEN WEST</h3>
                            <h5 class="fw-bolder" style="color:#ffffff; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-family:Helvetica">Some representative placeholder content for the third slide.</h5>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#destaques" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#destaques" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row text-center py-2" style="background-color:#111; border: solid 2px #fff; border-radius: 7px;">
    <h1 class="fw-bold text-white col-12" style="font-family:Play">Procure por Plataforma</h1>
</div>

<div class="row text-center">
    <div onclick="location.href='#';" id="nswitch" class="col-12 col-md-6 col-lg-4 d-flex justify-content-between">
        <img src="~/images/assets/plataformas/nintendo.svg" class="col-3 p-2" style="filter:invert(1); height: 7rem; width: contain" />
        <h3 class="text-white my-auto" style="font-family:Play">Nintendo Switch</h3>
        <h3 class="text-white my-auto mx-3" style="font-size:3rem"><i class="bi bi-chevron-double-right"></i></h3>
    </div>
    <div onclick="location.href='#';" id="computer" class="col-12 col-md-6 col-lg-4 d-flex justify-content-between">
        <img src="~/images/assets/plataformas/PC.svg" class="col-3 p-3" style="filter:invert(1); height: 7rem; width:contain" />
        <h3 class="text-white my-auto" style="font-family:Play">Computador</h3>
        <h3 class="text-white my-auto mx-3" style="font-size:3rem"><i class="bi bi-chevron-double-right"></i></h3>
    </div>
    <div onclick="location.href='#';" id="ps4" class="col-12 col-md-6 col-lg-4 d-flex justify-content-between">
        <img src="~/images/assets/plataformas/playstation.svg" class="col-3 p-3" style="filter:brightness(10); height: 7rem; width:contain" />
        <h3 class="text-white my-auto" style="font-family:Play">Playstation 4</h3>
        <h3 class="text-white my-auto mx-3" style="font-size:3rem"><i class="bi bi-chevron-double-right"></i></h3>
    </div>
    <div onclick="location.href='#';" id="ps5" class="col-12 col-md-6 col-lg-4 d-flex justify-content-between">
        <img src="~/images/assets/plataformas/playstation.svg" class="col-3 p-3" style="filter:brightness(10); height: 7rem; width:contain" />
        <h3 class="text-white my-auto" style="font-family:Play">Playstation 5</h3>
        <h3 class="text-white my-auto mx-3" style="font-size:3rem"><i class="bi bi-chevron-double-right"></i></h3>
    </div>
    <div onclick="location.href='#';" id="xone" class="col-12 col-md-6 col-lg-4 d-flex justify-content-between">
        <img src="~/images/assets/plataformas/xbox.svg" class="col-3 p-4" style="filter:invert(1); height: 7rem; width:contain" />
        <h3 class="text-white my-auto" style="font-family:Play">Xbox One</h3>
        <h3 class="text-white my-auto mx-3" style="font-size:3rem"><i class="bi bi-chevron-double-right"></i></h3>
    </div>
    <div onclick="location.href='#';" id="xseries" class="col-12 col-md-6 col-lg-4 d-flex justify-content-between">
        <img src="~/images/assets/plataformas/xbox.svg" class="col-3 p-4" style="filter:invert(1); height: 7rem; width:contain" />
        <h3 class="text-white my-auto" style="font-family:Play">Xbox Series</h3>
        <h3 class="text-white my-auto mx-3" style="font-size:3rem"><i class="bi bi-chevron-double-right"></i></h3>
    </div>
</div>

<div class="row text-center py-2" style="background-color:#111; border: solid 2px #fff; border-radius: 7px;">
    <h1 class="fw-bold text-white col-12" style="font-family:Play">Jogos em Destaque</h1>
</div>

<div class="row" style="margin-bottom: 80px">
    @foreach (var obj in Model)
    {
        <div class="col-12 col-md-6 col-lg-4 position-relative home-card">
            <section class="my-2">
                <img src="@obj.BoxArt" class="rounded-2 mt-1" style="width:100%; height:100%; background-size:contain">
            </section>
            <div class="row px-1">
                <section class="col-9" style="height:auto">
                    <h3 class="text-white"><strong>@obj.Titulo</strong></h3>
                    <p class="text-white">
                        Desenvolvedor: @obj.Desenvolvedor <br>
                        Distribuidor: @obj.Distribuidor <br>
                        Plataforma: @obj.Plataforma (@obj.DataLancamento.ToString("yyyy"))
                    </p>
                </section>
                <section class="col-3 text-end" style="padding-right: 2%">
                    @if (obj.Plataforma == Plataforma.NSW)
                    {
                        <img src="~/images/assets/plataformas/nintendo.svg" style="height: 70px; width: 70px; -webkit-filter: invert(100%)">
                    }
                    @if (obj.Plataforma == Plataforma.PC)
                    {
                        <img src="~/images/assets/plataformas/PC.svg" style="height: 65px; width: 65px; -webkit-filter: invert(100%)">
                    }
                    @if (obj.Plataforma == Plataforma.PS4 || obj.Plataforma == Plataforma.PS5)
                    {
                        <img src="~/images/assets/plataformas/playstation.svg" style="height: 65px; width: 65px; -webkit-filter: invert(100%)">
                    }
                    @if (obj.Plataforma == Plataforma.XONE || obj.Plataforma == Plataforma.XSXS)
                    {
                        <img src="~/images/assets/plataformas/xbox.svg" style="height: 70px; width: 70px; -webkit-filter: invert(100%)">
                    }
                </section>
            </div>
            <div class="row mb-3 position-absolute bottom-0 w-100">
                @if (obj.PrecoPromo != 0)
                {
                    <h5 class="text-end" style="color: lightgreen; font-family:Arial; margin-top: 10px; margin-right: 8px">
                        <small><s>R$ @obj.PrecoNormal.ToString("N2")</s></small> <b>R$ @obj.PrecoPromo.ToString("N2")</b>
                    </h5>
                }
                else
                {
                    <h5 class="text-end" style="color: lightgreen; font-family:Arial; margin-top: 10px; margin-right: 8px">
                        <b>R$ @obj.PrecoNormal.ToString("N2")</b>
                    </h5>
                }
                <a class="btn btn-primary col-11 mx-auto" asp-controller="VerProduto" asp-action="Detalhes" asp-route-ProdutoId="@obj.Id">Ver Detalhes</a>
            </div>
        </div>
    }
</div>
